<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="browsername" value="firefox" />
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.flipkart.Baseclass"  />
      <class name="com.flipkart.TestFlipkart"  />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
